@import 'variables';

.card {
    border-radius: $card-radius;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card__top__theme {
    background-color: $primary-color;
    border-radius: 1em 1em 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em;
    color: white;


    h1 {
        margin: auto;
        font-weight: bold;
    }
}

.card__bottom {
    padding: 3em;
    flex-wrap: wrap;
}