@import 'variables';

.services {
    display: flex;

    .services__items {
        width: 25%;
        padding: 1rem;

        .image-container {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-color: #D2D2D2;
            margin: 1rem;
            margin-left: 2rem;
            position: relative;

            &:hover {
                position: abolsute;
                top: -10px;
                box-shadow: 0 0 11px rgba(33, 33, 33, .2);
            }

            img {
                display: block;
                margin: auto;
                padding: 1rem;
                width: 100px;
            }
        }

        h5 {
            font-weight: bolder;
            text-align: center;
        }

        p {
            color: $secondary-font-color;
            text-align: center;
        }
    }
}

.client__list {
    display: flex;

    .clients__items {
        width: calc(100% / 6);
        position: relative;

        img:hover {
            position: absolute;
            top: -10px;
        }
    }
}