@import 'variables';

.info_block,
.form_block {
    // width: 50%;
    padding: 1rem;

    form {
        input,
        textarea {
            border: none;
            background-color: #FAFAFA;
        }
    }
}

#map {
    width: 100%;
    height: 200px;
    border: 1px solid black;
}