@import 'variables';

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: flex-end;

    .navbar__logo a {
        text-decoration: none;
        color: $primary-font-color;

        &:hover {
            text-decoration: none;
            color: $primary-font-color;
        }
    }

    .navbar__items {

        li {
            display: inline;

            a {
                color: #9E9E9E;
                text-decoration: none;
                padding: 10px;

                &:hover {
                    text-decoration: none;
                    color: $primary-font-color;
                }
            }

        }
    }
}