nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px;
}

nav .navbar--home--logo a {
  text-decoration: none;
  color: #424242;
}

nav .navbar--home--logo a:hover {
  text-decoration: none;
  color: #424242;
}

nav .navbar__items a {
  color: #9E9E9E;
  text-decoration: none;
}

nav .navbar__items a:hover {
  text-decoration: none;
  color: #424242;
}

nav .navbar__items--position li {
  display: inline;
}

nav .navbar__items--position li a {
  padding: 10px;
}

.card {
  border-radius: 14px;
}

.card .card__top--theme {
  background-color: #2ECA7F;
  border-radius: 1em 1em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  color: white;
}

.card .card__top--theme h1 {
  margin: auto;
  font-weight: bold;
}

.card .card__bottom {
  padding: 3em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  text-align: center;
}

.card__top--home--profile--pic {
  width: 30%;
  min-width: 300px;
  text-align: center;
  overflow: hidden;
  padding: 1em;
  min-height: 300px;
}

.card__top--home--profile--pic img {
  max-width: 100%;
  width: auto;
  height: auto;
  border: 5px solid white;
  border-radius: 14px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.card__top--home--profile--pic img:hover {
  -webkit-transform: translate(0x, -10px);
  transform: translate(0px, -10px);
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.card__top--home--description {
  margin: 1px;
  color: white;
  text-align: center;
  width: 45%;
  min-width: 400px;
  padding: 1em;
}

.card__top--home--description h1 {
  font-size: 57px;
  font-weight: 700;
}

.card__top--home--description h4 {
  padding: 10px;
}

.card__bottom--home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__bottom--home--bio {
  min-width: 350px;
}

.card__bottom--home--bio,
.card__bottom--home--personal--details {
  width: 45%;
  padding: 0.5rem;
}

.card__bottom--home--personal--details dl {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
}

.card__bottom--home--personal--details dt {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.card__bottom--home--personal--details dd {
  -ms-grid-column: 2;
      grid-column-start: 2;
  padding-left: 20px;
  color: #9E9E9E;
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resume .card--resume__bottom__education,
.resume .card--resume__bottom__experience {
  width: 50%;
}

.resume .timeline {
  padding: 1rem;
  border-left: 1px solid grey;
}

.resume .resume_items {
  padding: 1.5rem;
  margin: 1rem;
  border: 1px solid lightgrey;
  border-left: 2px solid #2ECA7F;
}

.resume .resume_items h5 {
  font-weight: bolder;
}

.resume .resume_items h6 {
  color: #2ECA7F;
}

.resume .resume_items p {
  margin-bottom: 0;
}

.resume .resume_items:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resume .resume_items .item-title {
  position: relative;
}

.resume .resume_items .item-title::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: -55px;
  border-radius: 50%;
  border: 2px solid #2ECA7F;
  background-color: white;
}

.resume .resume_items .item-title::after {
  content: " ";
  top: 4px;
  width: 21px;
  height: 2px;
  position: absolute;
  left: -45px;
  border: 0.5px solid #2ECA7F;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

.skills .skills__design,
.skills .skills__coding {
  width: 50%;
}

.skills .skills__design progress,
.skills .skills__coding progress {
  width: 90%;
}

.skills .skills__design .skill_title,
.skills .skills__coding .skill_title {
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #F4F4F4;
}

.my--container {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  position: relative;
}

.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: #9E9E9E;
  overflow: hidden;
  background-color: white;
  padding: 0.5em;
  border-radius: 50%;
}

.icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=style.css.map */