nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: flex-end;
}
nav .navbar__logo a {
  text-decoration: none;
  color: #424242;
}
nav .navbar__logo a:hover {
  text-decoration: none;
  color: #424242;
}
nav .navbar__items li {
  display: inline;
}
nav .navbar__items li a {
  color: #9E9E9E;
  text-decoration: none;
  padding: 10px;
}
nav .navbar__items li a:hover {
  text-decoration: none;
  color: #424242;
}

.card {
  border-radius: 14px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card__top__theme {
  background-color: #2ECA7F;
  border-radius: 1em 1em 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 2em;
  color: white;
}
.card__top__theme h1 {
  margin: auto;
  font-weight: bold;
}

.card__bottom {
  padding: 3em;
  flex-wrap: wrap;
}

footer {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  text-align: center;
}

.home__avatar {
  width: 30%;
  min-width: 300px;
  text-align: center;
  padding: 1em;
  min-height: 300px;
}
.home__avatar img {
  max-width: 100%;
  width: auto;
  height: auto;
  border: 5px solid white;
  border-radius: 14px;
  transition: transform 0.5s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 60px;
}
.home__avatar img:hover {
  -moz-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  -o-transform: translate(0px, -10px);
  -webkit-transform: translate(0x, -10px);
  transform: translate(0px, -10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.home__description {
  margin: 1px;
  color: white;
  text-align: center;
  width: 45%;
  min-width: 400px;
  padding: 1em;
}
.home__description h1 {
  font-size: 57px;
  font-weight: 700;
}
.home__description h4 {
  padding: 10px;
}

.card__bottom--home {
  display: flex;
}

.home__bio {
  min-width: 350px;
}

.home__bio,
.home__personal__details {
  width: 45%;
  padding: 0.5rem;
}

.home__personal__details dl {
  display: grid;
  grid-template-columns: max-content auto;
}
.home__personal__details dt {
  grid-column-start: 1;
}
.home__personal__details dd {
  grid-column-start: 2;
  padding-left: 20px;
  color: #9E9E9E;
}
.home__personal__details dd a {
  text-decoration: none;
  color: #2ECA7F;
}

.resume {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-between;
}
.resume .card--resume__bottom__education,
.resume .card--resume__bottom__experience {
  width: 50%;
}
.resume .timeline {
  padding: 1rem;
  border-left: 1px solid grey;
}
.resume .resume_items {
  padding: 1.5rem;
  margin: 1rem;
  border: 1px solid lightgrey;
  border-left: 2px solid #2ECA7F;
}
.resume .resume_items h5 {
  font-weight: bolder;
}
.resume .resume_items h6 {
  color: #2ECA7F;
}
.resume .resume_items p {
  margin-bottom: 0;
}
.resume .resume_items:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.resume .resume_items .item-title {
  position: relative;
}
.resume .resume_items .item-title::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: -62px;
  border-radius: 50%;
  border: 2px solid #2ECA7F;
  background-color: white;
}
.resume .resume_items .item-title::after {
  content: " ";
  top: 4px;
  width: 27px;
  height: 2px;
  position: absolute;
  left: -52px;
  border: 0.5px solid #2ECA7F;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-between;
  margin-top: 2rem;
}
.skills .skills__design,
.skills .skills__coding {
  width: 50%;
}
.skills .skills__design progress,
.skills .skills__coding progress {
  width: 90%;
}
.skills .skills__design .skill__title,
.skills .skills__coding .skill__title {
  font-weight: bold;
}
.skills .skills__design .skills__container,
.skills .skills__coding .skills__container {
  width: 90%;
  background-color: grey;
}
.skills .skills__design .skills__container .progress__bar,
.skills .skills__coding .skills__container .progress__bar {
  width: 1%;
  height: 30px;
  background-color: #2ECA7F;
}

.services {
  display: flex;
}
.services .services__items {
  width: 25%;
  padding: 1rem;
}
.services .services__items .image-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #D2D2D2;
  margin: 1rem;
  margin-left: 2rem;
  position: relative;
}
.services .services__items .image-container:hover {
  position: abolsute;
  top: -10px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.services .services__items .image-container img {
  display: block;
  margin: auto;
  padding: 1rem;
  width: 100px;
}
.services .services__items h5 {
  font-weight: bolder;
  text-align: center;
}
.services .services__items p {
  color: #9E9E9E;
  text-align: center;
}

.client__list {
  display: flex;
}
.client__list .clients__items {
  width: calc(100% / 6);
  position: relative;
}
.client__list .clients__items img:hover {
  position: absolute;
  top: -10px;
}

.blog--container {
  display: flex;
  flex-wrap: wrap;
}
.blog--container .blog--items {
  border: 1px solid red;
  height: 100%;
  width: 48%;
  margin: 0.5rem;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 14px;
}
.blog--container .blog--items:hover {
  top: -10px;
}
.blog--container .blog--items .date {
  position: absolute;
  background-color: #FAFAFA;
  color: #2ECA7F;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  height: 60px;
  width: 60px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  margin: auto;
  text-align: center;
}
.blog--container .blog--items img {
  width: 100%;
  border-radius: 14px 14px 0 0;
}
.blog--container .blog--items img:hover {
  filter: hue-rotate(-0.25turn);
}
.blog--container .blog--items .description {
  padding: 1rem;
  text-align: center;
}
.blog--container .blog--items .description span:nth-of-type(1) {
  font-weight: bold;
}

.info_block,
.form_block {
  padding: 1rem;
}
.info_block form input,
.info_block form textarea,
.form_block form input,
.form_block form textarea {
  border: none;
  background-color: #FAFAFA;
}

#map {
  width: 100%;
  height: 200px;
  border: 1px solid black;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #F4F4F4;
}

.my--container {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  position: relative;
}

.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: #9E9E9E;
  overflow: hidden;
  background-color: white;
  padding: 0.5em;
  border-radius: 50%;
}
.icon:hover {
  transform: scale(1.2);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.contact_icon {
  padding-bottom: 0;
  margin-right: 5px;
  width: 2em;
  height: 2em;
}

/*# sourceMappingURL=style.css.map */
